GET     /index.html             ./files/index.html       text/xml;charset=utf-8
HEAD    /index.html             ./files/index.html       text/xml;charset=utf-8
GET     /test.xml               ./files/test.xml         text/xml;charset=utf-8
HEAD    /test.xml               ./files/test.xml         text/xml;charset=utf-8
GET     /image.png              ./files/image.png        image/png
GET     /my_gifs                ./files/test/eeg.gif     image/gif
